:root {    
    --accent-color: #FFD54F;    
    --text-color: #FFF8E1;    
    --background-color: #121212;    
    --icon-color: #FFEB3B;    
    --primary-gradient: #2C2C00;    
    --secondary-gradient: #4A4A00;    
    --text-muted: #BDB76B;    
    --icon-background: #FFF9C4;    
    --background-image: none;    
}