:root {
    --star-color: rgba(255, 255, 255, 0.9);
    --star-twinkle-speed: 2s;
}

.stars-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: var(--star-color);
    border-radius: 50%;
    box-shadow: 0 0 3px var(--star-color);
    animation: twinkle ease-in-out infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.3;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
}

.star:nth-child(1) { left: 5%; top: 10%; animation-duration: calc(var(--star-twinkle-speed) * 1.1); animation-delay: 0s; }
.star:nth-child(2) { left: 15%; top: 25%; animation-duration: calc(var(--star-twinkle-speed) * 0.8); animation-delay: 0.5s; }
.star:nth-child(3) { left: 25%; top: 8%; animation-duration: calc(var(--star-twinkle-speed) * 1.3); animation-delay: 1s; }
.star:nth-child(4) { left: 35%; top: 40%; animation-duration: calc(var(--star-twinkle-speed) * 0.9); animation-delay: 0.3s; }
.star:nth-child(5) { left: 45%; top: 15%; animation-duration: calc(var(--star-twinkle-speed) * 1.2); animation-delay: 0.8s; }
.star:nth-child(6) { left: 55%; top: 30%; animation-duration: calc(var(--star-twinkle-speed) * 0.85); animation-delay: 1.2s; }
.star:nth-child(7) { left: 65%; top: 12%; animation-duration: calc(var(--star-twinkle-speed) * 1.15); animation-delay: 0.2s; }
.star:nth-child(8) { left: 75%; top: 35%; animation-duration: calc(var(--star-twinkle-speed) * 0.95); animation-delay: 0.7s; }
.star:nth-child(9) { left: 85%; top: 20%; animation-duration: calc(var(--star-twinkle-speed) * 1.05); animation-delay: 1.5s; }
.star:nth-child(10) { left: 92%; top: 45%; animation-duration: calc(var(--star-twinkle-speed) * 0.92); animation-delay: 0.4s; }
.star:nth-child(11) { left: 8%; top: 50%; animation-duration: calc(var(--star-twinkle-speed) * 1.18); animation-delay: 0.9s; }
.star:nth-child(12) { left: 18%; top: 60%; animation-duration: calc(var(--star-twinkle-speed) * 0.88); animation-delay: 1.3s; }
.star:nth-child(13) { left: 28%; top: 55%; animation-duration: calc(var(--star-twinkle-speed) * 1.08); animation-delay: 0.6s; }
.star:nth-child(14) { left: 38%; top: 70%; animation-duration: calc(var(--star-twinkle-speed) * 0.98); animation-delay: 1.1s; }
.star:nth-child(15) { left: 48%; top: 65%; animation-duration: calc(var(--star-twinkle-speed) * 1.12); animation-delay: 0.1s; }
.star:nth-child(16) { left: 58%; top: 75%; animation-duration: calc(var(--star-twinkle-speed) * 0.94); animation-delay: 0.85s; }
.star:nth-child(17) { left: 68%; top: 58%; animation-duration: calc(var(--star-twinkle-speed) * 1.22); animation-delay: 1.4s; }
.star:nth-child(18) { left: 78%; top: 80%; animation-duration: calc(var(--star-twinkle-speed) * 0.86); animation-delay: 0.35s; }
.star:nth-child(19) { left: 88%; top: 62%; animation-duration: calc(var(--star-twinkle-speed) * 1.16); animation-delay: 1.25s; }
.star:nth-child(20) { left: 95%; top: 85%; animation-duration: calc(var(--star-twinkle-speed) * 0.82); animation-delay: 0.65s; }
.star:nth-child(21) { left: 3%; top: 22%; animation-duration: calc(var(--star-twinkle-speed) * 1.25); animation-delay: 0.45s; width: 3px; height: 3px; }
.star:nth-child(22) { left: 12%; top: 42%; animation-duration: calc(var(--star-twinkle-speed) * 0.78); animation-delay: 1.15s; }
.star:nth-child(23) { left: 22%; top: 32%; animation-duration: calc(var(--star-twinkle-speed) * 1.28); animation-delay: 0.25s; width: 3px; height: 3px; }
.star:nth-child(24) { left: 32%; top: 52%; animation-duration: calc(var(--star-twinkle-speed) * 0.84); animation-delay: 0.95s; }
.star:nth-child(25) { left: 42%; top: 48%; animation-duration: calc(var(--star-twinkle-speed) * 1.32); animation-delay: 1.35s; width: 3px; height: 3px; }
.star:nth-child(26) { left: 52%; top: 18%; animation-duration: calc(var(--star-twinkle-speed) * 0.76); animation-delay: 0.55s; }
.star:nth-child(27) { left: 62%; top: 38%; animation-duration: calc(var(--star-twinkle-speed) * 1.35); animation-delay: 1.05s; }
.star:nth-child(28) { left: 72%; top: 68%; animation-duration: calc(var(--star-twinkle-speed) * 0.92); animation-delay: 0.15s; width: 3px; height: 3px; }
.star:nth-child(29) { left: 82%; top: 28%; animation-duration: calc(var(--star-twinkle-speed) * 1.14); animation-delay: 1.45s; }
.star:nth-child(30) { left: 90%; top: 72%; animation-duration: calc(var(--star-twinkle-speed) * 0.88); animation-delay: 0.75s; }
